@charset "UTF-8";
/* CSS Document */

html {
	margin:0;
	padding:0;
	background-color:#300418; 
}

blockquote {
	background-color:#901e51; 
	width:700px;
	height:300px;
	border-radius: 15px;
	position:relative;
	margin:auto;
	margin-top:8em;
	color:#FFF;
	font-family:Georgia;
	font-size:23px; 
	text-align:left; 
	padding: 2.5em 3.6em 2em;
}

blockquote:before {
	display: block;
	font-family:Arial, sans-serif;
	content: "\201C";
	font-size: 125px;
	position: absolute;
	color:#C36;
	left: 30px;
	top:32px;
}

blockquote:after {
	display: block;
	font-family:Arial, sans-serif;
	content: "\201D";
	color:#C36;
	font-size: 125px;
	position: absolute;
	bottom: 13px;
	right: 40px;
	
}

blockquote cite {
color: #F9C;
font-size: 20px;
font-family: "Arial"; 
display: block;
margin-top: 35px;
text-align: right;
}
 
